<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redireciona todas as requisições para index.php
    RewriteRule ^$ index.php [L]
    RewriteRule ^([a-zA-Z0-9-_/]+)$ index.php [L]


    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

# Define o arquivo de entrada
DirectoryIndex index.php index.html index.htm

# Permite acesso a todos os arquivos
<FilesMatch ".*">
    Require all granted
</FilesMatch>
